<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" > <!--フルスクリーン-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <!-- ステータスバーのカラー変更 -->
	<link rel="stylesheet" href="../public/css/main.css">
	
</head>
<body>
	<div id="wrap">
		<canvas id="canvas"></canvas>	
	</div>
	<div id="attckers">
		<div id="up">↑</div>
		<div id="right">→</div>
		<div id="down">↓</div>
		<div id="left">←</div>
		<div id="all">all</div>
	</div>
	
	<div id="alert">
		
	</div>
	
	<script>
		var createjs = window;
	</script>
	<script src="../public/js/easel.js"></script>	
	<script src="../public/js/tween.js"></script>
	<script src="../public/js/tower.js"></script>
</body>
</html>