<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" > <!--フルスクリーン-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <!-- ステータスバーのカラー変更 -->
	<link rel="stylesheet" href="../public/css/main.css">
	<script src="../public/js/easel.js"></script>
	<script src="../public/js/tower.js"></script>
</head>
<body onload="init()">
	<canvas id="canvas"></canvas>
	
	
</body>
</html>