<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" > <!--フルスクリーン-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <!-- ステータスバーのカラー変更 -->
	<link rel="stylesheet" href="../public/css/main.css">
	
</head>
<body>
	<div id="top">
		<div id="topBtn"></div>
	</div>
	<div id="wrap">
		<canvas id="canvas"></canvas>	
	</div>
	<div id="attacker">
		<div id="up"><img src="../public/img/upBtn.png" height="66" width="64" alt=""></div>
		<div id="right"><img src="../public/img/rightBtn.png" height="66" width="64" alt="">→</div>
		<div id="down"><img src="../public/img/downBtn.png" height="66" width="64" alt=""></div>
		<div id="left"><img src="../public/img/leftBtn.png" height="66" width="64" alt=""></div>
		<div id="all"><img src="../public/img/allBtn.png" height="66" width="64" alt=""></div>
	</div>
	
	<div id="wrapAlert">
		<div id="areaAlert">
			<div id="textAlert"></div>
			<div id="buttonAlert">ok</div>
		</div>
	</div>
	
	<script>
		var createjs = window;
	</script>
	<script src="../public/js/easel.js"></script>	
	<script src="../public/js/tween.js"></script>
	<script src="../public/js/tower.js"></script>
</body>
</html>